:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border: 0;
  padding: 0;
}

/* ****** */

.nav {
  --SOLAR-DIAMETER: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
}

/**
 * Nav backdrop
 */

.nav:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 100vw;
  height: 100vw;
  transform: translate(50%, -50%) scale(0);
  transition: transform 1s ease-in-out;
  border-radius: 100%;
  background: radial-gradient(closest-side, #01223c, rgba(1, 34, 60, 0));
  z-index: -1;
  pointer-events: none;
}

.nav.opened:before {
  transform: translate(50%, -50%) scale(1);
}

/**
 * Nav toggler
 */

.nav-toggler {
  position: relative;
  display: block;
  border-radius: 50%;
  width: var(--SOLAR-DIAMETER);
  height: var(--SOLAR-DIAMETER);
  background-color: #d2c193;
  cursor: pointer;
  z-index: 100;
}

.navbar-toggler-icon {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  transform: translateY(-50%);
  transition: top 0.1s ease-in-out 0.1s, transform 0.1s ease-in-out;
  background-color: black;
}

.navbar-toggler-icon:before {
  top: 35%;
}

.navbar-toggler-icon:after {
  top: 65%;
}

.nav.opened .navbar-toggler-icon:before,
.nav.opened .navbar-toggler-icon:after {
  top: 50%;
  transition: top 0.1s ease-in-out, transform 0.1s ease-in-out 0.1s;
}

.nav.opened .navbar-toggler-icon:before {
  transform: translateY(-50%) rotate(45deg);
}

.nav.opened .navbar-toggler-icon:after {
  transform: translateY(-50%) rotate(-45deg);
}

/**
 * Nav list
 */

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: block;
  padding-right: calc(0.5 * var(--SOLAR-DIAMETER) + 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%) rotate(45deg) scale(0);
  transform-origin: center right;
  transition: transform 0.5s linear;
  text-transform: uppercase;
}

.nav-item:hover {
  color: aquamarine;
  cursor: pointer;
}

/* POSITION ADJUSTMENTS - ON CLOSE */
.nav .nav-item:nth-child(1) {
  transition-delay: 0s;
}

.nav .nav-item:nth-child(2) {
  transition-delay: 0.03s;
}

.nav .nav-item:nth-child(3) {
  transition-delay: 0.06s;
}

.nav .nav-item:nth-child(4) {
  transition-delay: 0.09s;
}

.nav .nav-item:nth-child(5) {
  transition-delay: 0.12s;
}

.nav .nav-item:nth-child(6) {
  transition-delay: 0.15s;
}

.nav .nav-item:nth-child(7) {
  transition-delay: 0.2s;
}

.nav .nav-item:nth-child(8) {
  transition-delay: 0.2s;
}

/* POSITION ADJUSTMENTS - ON OPEN */
.nav.opened .nav-item:nth-child(1) {
  transform: translate(-100%, -50%) rotate(0deg) scale(1);
  transition-delay: 0.4s;
}

.nav.opened .nav-item:nth-child(2) {
  transform: translate(-100%, -50%) rotate(-12.8571428571deg) scale(1);
  transition-delay: 0.35s;
}

.nav.opened .nav-item:nth-child(3) {
  transform: translate(-100%, -50%) rotate(-25.7142857143deg) scale(1);
  transition-delay: 0.32s;
}

.nav.opened .nav-item:nth-child(4) {
  transform: translate(-100%, -50%) rotate(-38.5714285714deg) scale(1);
  transition-delay: 0.29s;
}

.nav.opened .nav-item:nth-child(5) {
  transform: translate(-100%, -50%) rotate(-51.4285714286deg) scale(1);
  transition-delay: 0.26s;
}

.nav.opened .nav-item:nth-child(6) {
  transform: translate(-100%, -50%) rotate(-64.2857142857deg) scale(1);
  transition-delay: 0.23s;
}

.nav.opened .nav-item:nth-child(7) {
  transform: translate(-100%, -50%) rotate(-77.1428571429deg) scale(1);
  transition-delay: 0.2s;
}

.nav.opened .nav-item:nth-child(8) {
  transform: translate(-100%, -50%) rotate(-90deg) scale(1);
  transition-delay: 0.2s;
}
